body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    background-color: black;
    display: flex;    
}

footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    background-color: rgb(64, 0, 255);
    display: flex;    
}

.title {
    font-size: 2rem;
    color: white;
}

.horizontal-text-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    vertical-align: middle;
}

.vertical-text-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    list-style: none;
}

.vertical-text-container * {
    margin-top: 5px;
    margin-bottom: 5px;
}

.horizontal-text-container p{
    margin: 0;
    width: auto;
}

.footer-text {
    font-size: 1rem;
    color: white;
}

main {
    display: flex;
    flex: 1;
    height: auto;
}

#quest-chapters {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(144, 144, 144);
    height: 100%;
    width: min(25%, 150px);
}

#quest-chapters hr {
    color: black;
    width: 90%;
    border-color: black;
    border-style:solid;
    background-color: black;
}

#quest-chapters ul {
    padding-left: 0px;
}

#quest-area {
    width: 100%;
    height: 100%;
}

.quest {
    stroke: black;
    fill: none;
}

.quest:hover {
    fill: pink;
}

.svg-test-line {
    stroke: black;
    stroke-width: 1px;
}

.test-pattern-color {
    fill: blue;
}

.quest-connection-line {
    stroke-width: 8px;
    stroke: black;
}

.quest-connection-line line:last-child {
    stroke: gray;
}

.quest-line-complete line:first-child {
    stroke: green;
}

.quest-line-complete line:last-child {
    stroke: lime;
}

.quest-line-locked line:first-child {
    stroke: rgb(151, 0, 0);
}

.quest-line-locked line:last-child {
    stroke: rgb(106, 0, 0);
}

.quest-line-unlocked line:first-child {
    stroke: rgb(0, 127, 200);
}

.quest-line-unlocked line:last-child {
    stroke: rgb(83, 178, 255);
}

